/* CSS HEX 
--link-water: #d4ecf3;
--gumbo: #73a3ac;
--ziggurat: #b3d3db;
--nepal: #96bdc5;
--bali-hai: #8cabb3;
--catskill-white: #f6fbfb;
--gulf-stream: #8eb4b3;
--jet-stream: #afcccb;
--opal: #adc3c9;*/